:root {
    --primary: #F15A24;
  --primary-light: #ffba43;
  --secondary: #ffba43;
  --secondary-light: #ffba43;
  --header-color: #1a1a1a;
  --body-text-color: #4e4b66;
  --body-text-color-white: #fafbfc;
  
}